/* Landing Page CSS */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --primary-color: #803D3B;
  --text-dark: #0f172a;
  --text-light: #4f2e06;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 10px 20px #f9594751;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50% - 15rem);
  background-color: #f8e7d3;
  z-index: -1;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px 0;
  font-weight: 700;
  color: var(--text-dark);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--text-dark);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__content form {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.header__content input {
  width: 100%;
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

.header__image {
  position: relative;
  padding-right: 2rem;
}

.header__socials {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.header__socials a:hover {
  color: var(--primary-color);
}

.header__image img {
  max-width: 500px;
  margin: auto;
}

.work__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.work__card {
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
   display: flex; /* Menjadikan kartu sebagai flex container */
  flex-direction: column; /* Menjadikan anak-anak kartu ditumpuk di atas satu sama lain */
  align-items: center; /* Pusatkan anak-anak kartu secara vertikal */
  text-align: center;
}

.work__card:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.work__card span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 21px 24px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 10px;
}

.work__card:nth-child(1) span {
  background-color: #481E14;
  box-shadow: 2px 10px 40px #481E148c;
}

.work__card:nth-child(2) span {
  background-color: #9B3922;
  box-shadow: 2px 10px 40px #9B39228c;
}

.work__card:nth-child(3) span {
  background-color: #F2613F;
  box-shadow: 2px 10px 40px #F2613F8c;
}

.work__card h4 {
  margin-top: auto;
  font-size: 17px;
  color: var(--text-dark);
}

.card__button {
  padding: 1rem 1.2rem;
  margin-top: auto;
  outline: none;
  border: none;
  bottom: 100px;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 10px 20px #f9594751;
}

.card__button:hover {
  background-color: #6f0f0451; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.work__card p {
  line-height: 1.5rem;
  color: var(--text-light);
  font-size: 13px;
  margin-top: auto;
}

.deals__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.deals__header__content .section__header {
  max-width: 450px;
  margin-bottom: 1rem;
  text-align: left;
}

.deals__header__content p {
  max-width: 500px;
  color: var(--text-light);
}

.deals__nav {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.deals__nav a {
  padding: 5px 0;
  font-weight: 700;
  white-space: nowrap;
  color: var(--text-dark);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.deals__nav a:hover,
.deals__nav a.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.deals__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.deals__card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.deals__card img {
  border-radius: 5px;
  transition: 0.3s;
}

.deals__card:hover img {
  scale: 1.1;
}

.deals__card span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--white);
  border-radius: 5px;
}

.featured__grid {
  margin-top: 4rem;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: #f8e7d3;
}

.featured__image {
  position: relative;
}

.featured__image img:nth-child(1) {
  max-width: 500px;
  margin: auto;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.featured__image img:nth-child(2) {
  max-width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.featured__content {
  padding: 2rem 0;
}

.featured__content h4 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--text-dark);
}

.featured__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.featured__content__grid {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.featured__content__grid h5 {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.featured__content__grid div {
  font-size: 1rem;
  color: var(--text-dark);
}

.featured__content div {
  color: var(--text-light);
}

.footer {
  padding: 2rem 1rem;
  background-color: #f8e7d3;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__col {
  max-width: 250px;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__col a {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-light);
  transition: 0.3s;
}

.footer__col a:hover {
  color: var(--text-dark);
}

.footer__row {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__row__col p {
  color: var(--text-light);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header__content h1 {
    font-size: 3rem;
  }

  .header__image {
    display: none;
  }

  .work__grid {
    grid-template-columns: 1fr;
  }

  .deals__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured__grid {
    grid-template-columns: 1fr;
  }

  .featured__image img:nth-child(1) {
    display: none;
  }

  .featured__image img:nth-child(2) {
    position: relative;
    transform: unset;
  }

  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }

  .deals__grid {
    grid-template-columns: 1fr;
  }

  .footer__container {
    grid-template-columns: 1fr;
  }
}

/*bagian section our team*/
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  color: var(--text-dark);
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 2rem;
}

.team__container {
  padding: 10rem 0;
  overflow: hidden;/* Tambahkan overflow: hidden untuk menghilangkan konten yang melebihi batas */
  position: relative; /* Tambahkan posisi relatif untuk menetapkan posisi absolut pada anak-anaknya */
}

.team__grid {
  display: flex;
  overflow-x: hidden;
  gap: 2rem; /* Menambahkan jarak antar kartu */
  width: calc(12 * 300px + 11 * 2rem);
  animation: moveTeam 35s linear infinite; /* Menerapkan animasi lebih lambat */
}

@keyframes moveTeam {
  0% {
    transform: translateX(0); /* Mulai dari posisi normal */
  }
  100% {
    transform: translateX(calc(-12 * (300px + 2rem))); /* Bergerak ke arah kiri hingga mencapai akhir kartu */
  }
}

.team__card {
  flex: 0 0 auto;
  min-width: 300px; 
  background-color: #f8e7d3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.team__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Mengatur latar belakang semi-transparent */
  transition: background-color 0.3s; /* Mengatur transisi efek ketika hover */
}

.team__card:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* Mengatur latar belakang semi-transparent saat hover */
}

.team__card:hover img {
  transform: scale(1.1); /* Mengatur efek perbesaran gambar saat hover */
}

.team__card img {
  border-radius: 100%;
  width: 150px; /* Tetapkan lebar gambar */
  height: 180px; /* Tetapkan tinggi gambar */
  object-fit: cover; /* Pastikan gambar tetap proporsional */
  margin: 0 auto 1rem;
  transition: transform 0.3s;
}

.team__card h4 {
  font-size: 17px;
  color: var(--text-dark);
  margin-bottom: 10px;
  white-space: nowrap; /* Mencegah pemutusan teks */
  overflow: hidden; /* Mengatasi teks yang lebih panjang dari lebar kartu */
  text-overflow: ellipsis; /* Menampilkan tanda ellipsis untuk teks yang terpotong */
}

.team__card p {
  font-size: 15px;
  color: var(--text-light);
  margin-bottom: 10px;
  white-space: nowrap; /* Mencegah pemutusan teks */
  overflow: hidden; /* Mengatasi teks yang lebih panjang dari lebar kartu */
  text-overflow: ellipsis; /* Menampilkan tanda ellipsis untuk teks yang terpotong */
}

.team__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.team__socials a {
  color: var(--text-dark);
  font-size: 1.25rem;
  transition: color 0.3s;
}

.team__socials a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .team__grid {
    flex-wrap: wrap; 
  }
  .team__card {
    flex: 0 0 calc(50% - 1rem); 
  }
}
